# IDE specific files
.idea/
.metadata/
*.iml
*.iws
*.ipr

# Eclipse specific
.settings/
.classpath
.project

# Gradle specific
.gradle/
gradle/
build/
gradlew
gradlew.bat

# Compiled files
*.class
out/
build/
bin/

# Package Files
*.jar
*.war
*.ear

# OS specific
.DS_Store
Thumbs.db

# Debug files
hs_err_pid*
